type project
authors Martin Gondermann
owners Martin Gondermann
projectUrl http://github.com/magicmonty/SharpFun
licenseUrl https://raw.githubusercontent.com/magicmonty/SharpFun/master/LICENSE.txt
tags data type,functional,option
description
  Functional data types for C#
